<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         id="WebApp_ID" version="2.5">

  <display-name>Archetype Created Web Application</display-name>

  <servlet>
    <servlet-name>signIn</servlet-name>
    <jsp-file>/signIn.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>signIn</servlet-name>
    <url-pattern>/signIn</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>signUp</servlet-name>
    <jsp-file>/signUp.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>signUp</servlet-name>
    <url-pattern>/signUp</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>profile</servlet-name>
    <jsp-file>/profile.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>profile</servlet-name>
    <url-pattern>/profile</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>adminProfile</servlet-name>
    <jsp-file>/adminProfile.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>adminProfile</servlet-name>
    <url-pattern>/adminProfile</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>adminEdit</servlet-name>
    <jsp-file>/adminEdit.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>adminEdit</servlet-name>
    <url-pattern>/adminEdit</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>signUpButton</servlet-name>
    <servlet-class>bsu.tp.financial.controller.ControllerServlet</servlet-class>
    <init-param>
      <param-name>command</param-name>
      <param-value>sign_up_button</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>signUpButton</servlet-name>
    <url-pattern>/signUpButton</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>signInButton</servlet-name>
    <servlet-class>bsu.tp.financial.controller.ControllerServlet</servlet-class>
    <init-param>
      <param-name>command</param-name>
      <param-value>sign_in_button</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>signInButton</servlet-name>
    <url-pattern>/signInButton</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>signOutButton</servlet-name>
    <servlet-class>bsu.tp.financial.controller.ControllerServlet</servlet-class>
    <init-param>
      <param-name>command</param-name>
      <param-value>sign_out_button</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>signOutButton</servlet-name>
    <url-pattern>/signOutButton</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>profileDirectory</servlet-name>
    <servlet-class>bsu.tp.financial.controller.ControllerServlet</servlet-class>
    <init-param>
      <param-name>command</param-name>
      <param-value>profile</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>profileDirectory</servlet-name>
    <url-pattern>/profile/*</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>editBankAccountsMoneyValue</servlet-name>
    <servlet-class>bsu.tp.financial.controller.ControllerServlet</servlet-class>
    <init-param>
      <param-name>command</param-name>
      <param-value>update_money_value_button</param-value>
    </init-param>
  </servlet>1
  <servlet-mapping>
    <servlet-name>editBankAccountsMoneyValue</servlet-name>
    <url-pattern>/editBankAccountsMoneyValue</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>editBankAccount</servlet-name>
    <servlet-class>bsu.tp.financial.controller.ControllerServlet</servlet-class>
    <init-param>
      <param-name>command</param-name>
      <param-value>edit_bank_account_button</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>editBankAccount</servlet-name>
    <url-pattern>/editBankAccount</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>error</servlet-name>
    <jsp-file>/error.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>error</servlet-name>
    <url-pattern>/error</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>adminUsers</servlet-name>
    <servlet-class>bsu.tp.financial.controller.ControllerServlet</servlet-class>
    <init-param>
      <param-name>command</param-name>
      <param-value>admin_users</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>adminUsers</servlet-name>
    <url-pattern>/users</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>admins</servlet-name>
    <servlet-class>bsu.tp.financial.controller.ControllerServlet</servlet-class>
    <init-param>
      <param-name>command</param-name>
      <param-value>admins</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>admins</servlet-name>
    <url-pattern>/admins</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>createAdminButton</servlet-name>
    <servlet-class>bsu.tp.financial.controller.ControllerServlet</servlet-class>
    <init-param>
      <param-name>command</param-name>
      <param-value>create_admin_button</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>createAdminButton</servlet-name>
    <url-pattern>/createAdminButton</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>unitBankAccountsButton</servlet-name>
    <servlet-class>bsu.tp.financial.controller.ControllerServlet</servlet-class>
    <init-param>
      <param-name>command</param-name>
      <param-value>unit_bankaccounts_button</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>unitBankAccountsButton</servlet-name>
    <url-pattern>/unitBankAccountsButton</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>sendEmailStatementButton</servlet-name>
    <servlet-class>bsu.tp.financial.controller.ControllerServlet</servlet-class>
    <init-param>
      <param-name>command</param-name>
      <param-value>send_email_statement_button</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>sendEmailStatementButton</servlet-name>
    <url-pattern>/sendEmailStatementButton</url-pattern>
  </servlet-mapping>


  <servlet>
    <servlet-name>deleteUserByAdminButton</servlet-name>
    <servlet-class>bsu.tp.financial.controller.ControllerServlet</servlet-class>
    <init-param>
      <param-name>command</param-name>
      <param-value>delete_user_by_admin_button</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>deleteUserByAdminButton</servlet-name>
    <url-pattern>/deleteUserByAdminButton</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>editProfileButton</servlet-name>
    <servlet-class>bsu.tp.financial.controller.ControllerServlet</servlet-class>
    <init-param>
      <param-name>command</param-name>
      <param-value>edit_profile_button</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>editProfileButton</servlet-name>
    <url-pattern>/editProfileButton</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>deleteProfileButton</servlet-name>
    <servlet-class>bsu.tp.financial.controller.ControllerServlet</servlet-class>
    <init-param>
      <param-name>command</param-name>
      <param-value>delete_profile_button</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>deleteProfileButton</servlet-name>
    <url-pattern>/deleteProfileButton</url-pattern>
  </servlet-mapping>



  <filter>
    <filter-name>UserSessionFilter</filter-name>
    <filter-class>bsu.tp.financial.filter.UserSessionFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>UserSessionFilter</filter-name>
    <url-pattern>/profile/*</url-pattern>
    <url-pattern>/profile.jsp</url-pattern>
    <url-pattern>/personalInfo.jsp</url-pattern>
    <url-pattern>/bankAccounts.jsp</url-pattern>
    <url-pattern>/rainyDay.jsp</url-pattern>
    <url-pattern>/editProfile.jsp</url-pattern>
    <url-pattern>/statement.jsp</url-pattern>
    <url-pattern>/unitBankAccounts.jsp</url-pattern>
  </filter-mapping>

</web-app>